<footer id="sticky-footer" class="py-4 bg-dark text-white text-center">
  <div class="container">
    <small>Copyright &copy; <%= link_to "Kseniia Markiv", "https://github.com/KseniiaMarkiv/alpha-blog-ubuntu", style: 'color:#B4B1B1' %></small>
  </div>
</footer>